<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siddhant | Home</title>
    <style>
        img {
            width: 100px;
            height: 125px;
            margin-left: 70px;
        }
    </style>
</head>
<body>
    <h1><strong>Hi, This is Siddhant❤️</strong> </h1>
    <img src="../static/111.jpg" alt="profile-image">
    <h3><p>
        View Section: got to <a href="http://127.0.0.1:8000/volobotapp/section">Link</a>
        <br>
        <br>
        View Student: got to <a href="http://127.0.0.1:8000/volobotapp/student">Link</a>
    </p>
    </h3>
</body>
</html>